div {
  background-color: red;
  margin: 10px;
  width: 80%;
  height: 150px;
}
div {
  background-color: red;
  margin: 10px;
  width: 80%;
  height: 150px;
}
div {
  background-color: red;
  margin: 10px;
  width: 80%;
  height: 150px;
}
