body {
  background-color: aqua;
}

.main-container {
  width: 100vw;

  .header {
    display: flex;
    flex-direction: column;
    height: 200px;

    .header__icons {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      color: #080d14;
    }

    .header__logo-image {
      display: flex;
      margin: 0 auto;
      margin-top: -150px;

      img {
        height: 100px;
      }
    }
  }

  .main-box {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -50px;

    .main-box__header-video {
      padding-bottom: 50px;

      -moz-transform: skew(0deg, -10deg);
      -webkit-transform: skew(0deg, -10deg);
      -o-transform: skew(0deg, -10deg);
      -ms-transform: skew(0deg, -10deg);
      transform: skew(0deg, -10deg);
    }

    .main-box__title-intro-workspace {
      padding-bottom: 40px;
    }

    figure {
      padding-bottom: 40px;
      -moz-transform: skew(0deg, -10deg);
      -webkit-transform: skew(0deg, -10deg);
      -o-transform: skew(0deg, -10deg);
      -ms-transform: skew(0deg, -10deg);
      transform: skew(0deg, -10deg);
    }

    .workspace__image-last-image {
      padding-bottom: 0;
    }

    img {
      width: 100vw;
      height: 250px;
      object-fit: cover;
    }

    .icon img {
      width: 10px;
      height: 10px;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    padding-top: 100px;
    background-color: #000;
    align-items: center;
    color: aqua;
    margin-top: -80px;

    .footer__title {
      h3 {
        padding-bottom: 10px;
      }
    }

    .footer__main-menu-list {
      font-size: 0.7rem;
      color: #fff;
    }

    .footer__social-links {
      h4 {
        color: #fff;
        padding-bottom: 10px;
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom: 20px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        color: #fff;
        padding-bottom: 10px;
      }
    }

    a {
      text-decoration: none;
      color: aqua;
    }
  }

  .main-box--work-space {
    -moz-transform: skew(0deg, -10deg);
    -webkit-transform: skew(0deg, -10deg);
    -o-transform: skew(0deg, -10deg);
    -ms-transform: skew(0deg, -10deg);
    transform: skew(0deg, -10deg);

    .main-box__last-page {
      padding-bottom: 30px;
    }
  }
}
